/*
@reference "~/Content/font-awesome.css";
*/


.loginRegisterContainer {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

    .loginRegisterContainer .tab-content {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }



.rating span.star, .rating span.none {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

    .rating span.star:hover,  
    .rating span.none:hover {
        cursor: pointer;
    }

    .rating span.star:before {
        content: "\f006";
        padding-right: 5px;
        color: #777777;
    }

    .rating span.star.chosen:before {
        content: "\f005";
        color: #e3cf7a;
    }

    .rating span.star.hoverChosen:before {
        content: "\f005";
        color: #e3cf7a;
    }


    .rating span.none:before {
        content: "\f123";
        padding-right: 5px;
        color: #e3cf7a;
    }

    .rating span.none.chosen:before {
        content: "\f123";
        color: #e3cf7a;
    }

    .rating span.none.hoverChosen:before {
        content: "\f123";
        color: #e3cf7a;
    }
