/*
@reference "~/Content/font-awesome.css";
*/


.loginRegisterContainer {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

    .loginRegisterContainer .tab-content {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
