<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.Core" version="2.8.14" targetFramework="net45" />
  <package id="CK-Database" version="1.3.0" targetFramework="net45" />
  <package id="Neva.Messaging" version="5.0.11.0" targetFramework="net45" />
  <package id="Neva.Messaging.Sql" version="5.0.16.0" targetFramework="net45" />
  <package id="NevaUtils" version="5.0.16.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net45" />
</packages>